@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");
*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

#app {
  position: relative;
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 0, 128, 0.25);
  background-image: url(https://source.unsplash.com/tKnda8e9ejM/1500);
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply; }

.navbar {
  position: fixed;
  z-index: 0.75em;
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
  padding: 0.75em;
  display: flex;
  align-items: center;
  background: purple; }

.navbar__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 1em;
  background: white;
  transform-origin: top;
  transition: transform 250ms ease-in; }
  .navbar__nav--open {
    transform: scale(1, 1); }
  .navbar__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0px 0px 75px 5px rgba(0, 0, 0, 0.1); }

.navbar__nav__item {
  position: relative;
  width: 100%;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em; }
  .navbar__nav__item::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0.75em;
    right: 0.75em;
    height: 1px;
    background: rgba(128, 0, 128, 0.25); }
  .navbar__nav__item:first-of-type::before {
    display: none; }

.navbar__toggle {
  font-size: 2.25rem;
  padding-left: 0.75em; }

@media only screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between; }
    .navbar .icon {
      font-size: 1.625em;
      color: white; } }

@media only screen and (min-width: 1024px) {
  .navbar {
    background: rgba(255, 255, 255, 0.85); }
    .navbar .icon-container {
      margin-right: 3em; }
  .navbar__nav {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-left: 3em;
    margin-right: auto;
    background: none; }
    .navbar__nav ul {
      display: flex;
      justify-content: center;
      box-shadow: none; }
  .navbar__nav__item::before {
    top: 100%;
    height: 0.35rem;
    background: rgba(128, 0, 128, 0.95);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in-out; }
  .navbar__nav__item:hover::before {
    transform: scaleX(1);
    transform-origin: left; }
  .navbar__nav__item:first-of-type::before {
    display: inline-block; } }

.experience__section {
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  width: 100%; }

.experience__header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase; }

.experience__section__title {
  font-weight: 700; }

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column; }

.timeline__section {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  border: 1px solid black; }

.timeline__line-column {
  flex-shrink: 1; }
  .timeline__line-column .timeline__line-circle:first-of-type {
    margin-top: 2em; }
  .timeline__line-column .timeline__line-circle:last-of-type {
    margin-bottom: 2em; }

.timeline__line-circle {
  margin: 4em;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid red; }

.icon-container {
  display: none; }

.fa-bars {
  font-size: 1.75rem;
  color: white; }

@media only screen and (min-width: 768px) {
  .icon-container {
    display: inline-block;
    border-radius: 0.25em; }
    .icon-container .icon {
      font-size: 1.625em;
      margin: 0.85rem; }
    .icon-container a:last-of-type > .icon {
      margin-right: 0; } }

@media only screen and (min-width: 1024px) {
  .icon-container {
    position: relative; }
    .icon-container .icon {
      color: black;
      transition: color 100ms ease-in-out; }
      .icon-container .icon:hover {
        color: purple; }
    .icon-container .icon ~ .icon {
      margin-left: 0; }
  .fa-bars {
    display: none; } }
