@import url(https://fonts.googleapis.com/css?family=Muli:400);
/* Typography */
/* Colors */
/* Widths */
*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: 1.125rem; }

body {
  margin: 0;
  padding: 0;
  height: 300vh; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }
