@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,700&display=swap");
*, *::before, *::after {
  box-sizing: border-box; }

html, body,
h1, h2, h3, h4, h5, h6,
ul, li, div, hr {
  margin: 0;
  padding: 0; }

html {
  font-size: 4.575vw;
  font-family: "Jura", sans-serif;
  color: #d9d9d9;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

#app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 8.5vh 3.75vw 0;
  display: flex;
  flex-direction: column;
  background: rgba(16, 0, 28, 0.85); }
  #app::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(16, 0, 28, 0.55) 0%, rgba(16, 0, 28, 0.85) 33%, rgba(16, 0, 28, 0.98) 100%); }

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0 3.75vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 8.5vh;
  min-height: 60px;
  background: rgba(16, 0, 28, 0.75); }

.navbar__nav {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  background: white;
  transform: scaleX(0); }

.hero {
  margin-top: 17.5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .hero__header {
    margin-bottom: 0.175em;
    font-size: 2.75rem;
    letter-spacing: 0.25rem; }
  .hero__subheader {
    font-size: 1.625rem;
    letter-spacing: 0.175em; }

.personal-list {
  margin-bottom: 2.5em;
  display: flex;
  justify-content: center;
  list-style: none; }
  .personal-list__item {
    padding: 0.75em;
    border-radius: 0.5em;
    border-bottom: 3px solid #1d1d1d;
    background: rgba(64, 0, 64, 0.7);
    box-shadow: 0px 0px 50px 10px rgba(191, 191, 191, 0.1); }
  .personal-list__item ~ .personal-list__item {
    margin-left: 1.5em; }

.icon-container {
  display: flex;
  justify-content: center; }
  .icon-container a ~ a {
    margin-left: 0.75em; }

.content {
  width: 100%; }

.icon {
  font-size: 2.125rem;
  cursor: pointer; }

.divider {
  width: 100%;
  height: 2px;
  border: none;
  background: #d9d9d9;
  margin: 2em 0; }

@media only screen and (max-height: 705px) {
  #app {
    padding-top: 60px; } }
