@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One:400|Nunito+Sans:400,700&display=swap");
*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-family: "Nunito Sans", sans-serif; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: "Julius Sans One", sans-serif; }

a {
  color: black;
  text-decoration: none; }

#app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0 1.25em;
  background: none; }

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1.25em;
  width: 100%;
  min-height: 65px;
  height: 9vh;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.95); }

.navbar__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in; }
  .navbar__nav--open {
    transform: scale(1, 1); }
  .navbar__nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.navbar__nav__item {
  position: relative;
  padding: 1.25em; }
  .navbar__nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    color: black; }

.navbar .icon {
  font-size: 2em; }

.navbar .icon-container {
  display: none; }

.intro {
  position: relative; }
  .intro::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 50px;
    width: 5px;
    height: 100%;
    background: linear-gradient(#e3c6f0 0%, white 75%, white 100%); }
  .intro::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 25px;
    width: 20px;
    height: 100%;
    background: linear-gradient(#e3c6f0 0%, white 75%, white 100%); }

.about__section {
  position: relative;
  padding-top: 2em;
  text-align: justify; }
  .about__section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: black; }
  .about__section p:last-of-type {
    margin-bottom: 0; }

.about__section__list {
  padding: 0.5em auto;
  list-style: square; }
  .about__section__list__item {
    padding: 0.125em; }

@media only screen and (min-width: 350px) {
  .about__section__list {
    padding: 0.125em auto;
    columns: 2; } }

.project__section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2% auto 2%;
  grid-column-gap: 0.75em; }

.indent--filled {
  background: purple; }

.project__section__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.project__section__title {
  flex-grow: 1; }

.project__section__icon-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  max-width: 67px; }
  .project__section__icon-container .icon {
    font-size: 1.825em;
    opacity: 0.75; }

.project__section__body {
  text-align: justify; }

.project__section__tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  justify-content: flex;
  list-style: none; }
  .project__section__tag-list__item {
    color: purple; }
